*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background:linear-gradient(to right, purple, pink);
   
}
.heading{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
#add{
   background: linear-gradient(to right, pink, purple);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;


}
#add :hover{
    background: linear-gradient(to right, purple, pink);
    color: white;
}
#expense-list{
    list-style-type: none;
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}