body{
    font-family: serif;
    padding: 20px;
}
.heading{
    text-align: center;
    text-transform: capitalize;
    color:purple
    
}
.input-section{
    margin-bottom: 20px;
    padding-left: 35%;
    margin-top: 30px;
  
}
#taskInput{
    width: 300px;
    height: 25px;
}
#btn_task{
    padding: 15px 15px;
    cursor: pointer;
    
}
#btn_task:hover{
    background-color: blueviolet;
    transform: scale(0.2s);
}
input{
    padding: 10px;
    width: 300px;
}
button{
    padding: 15px 15px ;
    margin-left: 5px;
    cursor: pointer;
}
li{
list-style-type: none;
margin-bottom: 10px;
padding-left: 35%;
}
.completed{
    text-decoration: line-through;
    color: grey;
}