body{
    font-family: serif;
    padding: 20px;
}
.heading{
    text-align: center;
    text-transform: capitalize;
    color:purple
    
}
.input-section{
    margin-bottom: 20px;
  
}
input{
    padding: 10px;
    width: 300px;
}
button{
    padding: 15px 15px ;
    margin-left: 5px;
    cursor: pointer;
}
li{
list-style-type: none;
margin-bottom: 10px;
}
.completed{
    text-decoration: line-through;
    color: grey;
}